<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center bottom-separator">
        <img src="images/home/under.png" class="img-responsive inline" alt="">
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="testimonial bottom">
          <h2>Find Us on other sites</h2>
          <div class="media">
            <div class="pull-left">
              <a href="#"><img src="images/home/profile1.png" alt=""></a>
            </div>
            <div class="media-body">
              <blockquote>Fast Trader. A++</blockquote>
              <h3><a href="#">- John Omadoye</a></h3>
            </div>
          </div>
          <div class="media">
            <div class="pull-left">
              <a href="#"><img src="images/home/profile2.png" alt=""></a>
            </div>
            <div class="media-body">
              <blockquote>Reliable and always my first choice</blockquote>
              <h3><a href="">- BTC Buyer</a></h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="contact-info bottom">
          <h2>Contacts</h2>
          <address>
            E-mail: <a href="mailto:hello@giftcardx.com.ng">hello@giftcardx.com.ng</a> <br> Phone: <a href="tel:+2348138893472"> +234 (0) 813 889 3472 </a> <br>
          </address>

          <h2>Address</h2>
          <address>
            24, Darlington Street<br> Minister's Hill <br> Maitama, Abuja <br> Nigeria <br>
          </address>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="contact-form bottom">
          <h2>Send us a message</h2>
          <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
            <div class="form-group">
              <input type="text" name="name" class="form-control" required="required" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="text" name="number" class="form-control" placeholder="Phone (not required)">
            </div>
            <div class="form-group">
              <input type="email" name="email" class="form-control" required="required" placeholder="Email Adress">
            </div>
            <div class="form-group">
              <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Your message here"></textarea>
            </div>
            <div class="form-group">
              <input type="submit" name="submit" class="btn btn-submit" value="Submit">
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="copyright-text text-center">
          <p>&copy; GiftCardX 2017. All Rights Reserved.</p>
          <p>Crafted by <a target="_blank" href="https://instagr.am/ebuka_hills"> WhyTech</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--/#footer-->