<!--/#Login Modal-->
	<div id="login-modal" class="login-modal modal modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Sell Giftcard</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="well">
							<form id="sellForm">

								<div class="form-group">
									<label for="loginEmail" class="control-label">Email</label>
									<input type="email" class="form-control" id="loginEmail" name="loginEmail" value="" required title="Please enter your email"
									  placeholder="example@email.com">
									<span class="help-block"></span>
								</div>
								
							</form>
						</div>
					</div>
					<div class="col-sm-6">
						<img src="/images/portfolio/1.jpg" alt="Gift Card">
						<p><a id="submitSell" href="#" class="btn btn-info btn-block">Sell Card</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>