<section id="action">
  <div class="vertical-center">
    <div class="container">
      <div class="row">
        <div class="action count">
          <div class="col-sm-4 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h1 class="timer bold" data-to="100" data-speed="3000" data-from="0"></h1>
            <h3>Happy Users</h3>
          </div>
          <div class="col-sm-4 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h1 class="timer bold" data-to="200" data-speed="3000" data-from="0"></h1>
            <h3>Transactions</h3>
          </div>
          <div class="col-sm-4 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h1 class="timer bold" data-to="2500" data-speed="3000" data-from="0"></h1>
            <h3>Social Followers</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#action-->