<%- include partials/head %>
<%- include partials/header %>

<section id="home-slider">
  <div class="container">
    <div class="row">
      <div class="main-slider">
        <div class="slide-text">
          <h1>Get the Best Value for your Cards</h1>
          <p>Sell iTunes, Amazon, eBay, Apple, Steam, Starbucks and many more Gift Cards at the best prices 
            and get Cash deposited to your bank account or Digital Wallet (Bitcoin, Ethereum, Paypal) instantly. <br>
            Buy an assortment of your favorite brand Gift Cards at great prices that are hard to resist.
          </p>
          <a href="/signup" class="btn btn-common">SIGN UP</a>
        </div>
        <img src="images/home/slider/hill.png" class="slider-hill" alt="slider image">
        <img src="images/home/slider/house.png" class="slider-house" alt="slider image">
        <img src="images/home/slider/sun.png" class="slider-sun" alt="slider image">
        <img src="images/home/slider/birds1.png" class="slider-birds1" alt="slider image">
        <img src="images/home/slider/birds2.png" class="slider-birds2" alt="slider image">
      </div>
    </div>
  </div>
  <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
</section>
<!--/#home-slider-->

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="single-service">
          <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
            <img src="images/home/icon1.png" alt="">
          </div>
          <h2>Incredibly Fast</h2>
          <p>Start a Trade and receive money in your account within 30 minutes on successful transactions.
            You don't even need to <a href="/signup">Sign Up</a> for an account before trading!
          </p>
        </div>
      </div>
      <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="single-service">
          <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
            <img src="images/home/icon2.png" alt="">
          </div>
          <h2>Multiple Options</h2>
          <p>Don't like fiat? Prefer Anonymity? We offer multiple options to redeem and pay for your Gift Cards including 
            Bitcoin, Ethereum, Paypal, Prepaid cards etc.
          </p>
        </div>
      </div>
      <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
        <div class="single-service">
          <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
            <img src="images/home/icon3.png" alt="">
          </div>
          <h2>Responsive Support</h2>
          <p>If you have a Question about how to Sell or Buy gift cards on this site, or just wanna know anything really,
            our Live Support is always willing to listen to you and is available 24/7 <i class="fa fa-smile-o"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#services-->

<section id="action" class="responsive">
  <div class="vertical-center">
    <div class="container">
      <div class="row">
        <div class="action take-tour">
          <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
            <h1 class="title">Triangle Corporate Template</h1>
            <p>A responsive, retina-ready &amp; wide multipurpose template.</p>
          </div>
          <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
            <div class="tour-button">
              <a href="#" class="btn btn-common">TAKE THE TOUR</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#action-->

<section id="features">
  <div class="container">
    <div class="row">
      <div class="single-features">
        <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
          <img src="images/home/image1.png" class="img-responsive" alt="">
        </div>
        <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
          <h2>Experienced and Enthusiastic</h2>
          <P>Pork belly leberkas cow short ribs capicola pork loin. Doner fatback frankfurter jerky meatball pastrami bacon
            tail sausage. Turkey fatback ball tip, tri-tip tenderloin drumstick salami strip steak.</P>
        </div>
      </div>
      <div class="single-features">
        <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
          <h2>Built for the Responsive Web</h2>
          <P>Mollit eiusmod id chuck turducken laboris meatloaf pork loin tenderloin swine. Pancetta excepteur fugiat strip
            steak tri-tip. Swine salami eiusmod sint, ex id venison non. Fugiat ea jowl cillum meatloaf.</P>
        </div>
        <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
          <img src="images/home/image2.png" class="img-responsive" alt="">
        </div>
      </div>
      <div class="single-features">
        <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
          <img src="images/home/image3.png" class="img-responsive" alt="">
        </div>
        <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
          <h2>Experienced and Enthusiastic</h2>
          <P>Ut officia cupidatat anim excepteur fugiat cillum ea occaecat rump pork chop tempor. Ut tenderloin veniam commodo.
            Shankle aliquip short ribs, chicken eiusmod exercitation shank landjaeger spare ribs corned beef.</P>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#features-->

<section id="clients">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
          <p><img src="images/home/clients.png" class="img-responsive" alt=""></p>
          <h1 class="title">Happy Clients</h1>
          <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> Ut enim ad minim veniam, quis nostrud </p>
        </div>
        <div class="clients-logo wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="col-xs-3 col-sm-2">
            <a href="#"><img src="images/home/client1.png" class="img-responsive" alt=""></a>
          </div>
          <div class="col-xs-3 col-sm-2">
            <a href="#"><img src="images/home/client2.png" class="img-responsive" alt=""></a>
          </div>
          <div class="col-xs-3 col-sm-2">
            <a href="#"><img src="images/home/client3.png" class="img-responsive" alt=""></a>
          </div>
          <div class="col-xs-3 col-sm-2">
            <a href="#"><img src="images/home/client4.png" class="img-responsive" alt=""></a>
          </div>
          <div class="col-xs-3 col-sm-2">
            <a href="#"><img src="images/home/client5.png" class="img-responsive" alt=""></a>
          </div>
          <div class="col-xs-3 col-sm-2">
            <a href="#"><img src="images/home/client6.png" class="img-responsive" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#clients-->

<%- include partials/footer %>
<%- include partials/foot %>