<%- include partials/head %>
<%- include partials/header %>

<section class="container">
  <div class="price-table">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="single-price price-two">
          <div class="table-heading">
            <p class="plan-name">iTunes Card</p>
            <p class="plan-price"><span class="dollar-sign">&#x20A6;</span><span class="price">250</span><span class="month">/ $</span></p>
          </div>
          <ul>
            <li>Best Rate <span><i class="fa fa-check"></i></span></li>
            <li>Physical Cards only <span><i class="fa fa-check"></i></span></li>
            <li>Clear Image Required <span><i class="fa fa-check"></i></span> </li>
            <li>Maximum $100 value per Card <span><i class="fa fa-times"></i></span></li>
          </ul>
          <a href="#" class="btn btn-buynow btn-hightlight">SELL NOW</a>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="single-price price-three">
          <div class="table-heading">
            <p class="plan-name">Amazon Card</p>
            <p class="plan-price"><span class="dollar-sign">&#x20A6;</span><span class="price">245</span><span class="month">/ $</span></p>
          </div>
          <ul>
            <li>Best Rate <span><i class="fa fa-check"></i></span></li>
            <li>Physical Card Only <span><i class="fa fa-check"></i></span></li>
            <li>Card & Receipt image required <span><i class="fa fa-check"></i><i class="fa fa-check"></i></span> </li>
            <li>Maximum $200 value per Card <span><i class="fa fa-times"></i></span></li>
          </ul>
          <a href="#" class="btn btn-buynow">SELL NOW</a>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="single-price price-four">
          <div class="table-heading">
            <p class="plan-name">Other Cards</p>
            <p class="plan-price"><span class="dollar-sign">&#X20A6;</span><span class="price">220</span><span class="month">/ $</span></p>
          </div>
          <ul>
            <li>Steam, Ebay, Apple Store, etc <span><i class="fa fa-check"></i></span></li>
            <li>Best Value <span><i class="fa fa-check"></i></span></li>
            <li>Negotiate your own price <span><i class="fa fa-check"></i></span> </li>
            <li>Instant Feedback <span><i class="fa fa-check"></i></span></li>
          </ul>
          <a href="#" class="btn btn-buynow">SELL NOW</a>
        </div>
      </div>
    </div>
  </div>
  <!--/#price-table-->
</section>

<%- include partials/footer %>
<%- include partials/foot %>